* {
    margin: 0; /* margin = how much **space** we want **outside** element(0 is no space)*/
    padding: 0; /* padding = adds space around content **inside** element, resizes entire element*/
    /*refer to 'css box model' to remember*/
}
header,
footer {
    width: 100%;
    height: 120px;
    background-color: blue;
    color: white;
}
h1,
h2 {
    text-align: center;
}
img {
    display: block;
    height: 50px;
    width: 50px;
    margin-left: auto;
    margin-right: auto;
}
ul {
    padding-left: 40px;
    font-size: 20px;
}
p {
    text-align: center;
    font-size: 30px;
}
